/* general  */
:root {
	--color-bg-search-bar: #e5e5e5;
	--color-bg-body: #f8f9fa;
	--color-side-bar: #0f263d;
	--color-nav-bar: #1b72e8;
    --color-text: #ffffff;
    --color-nav-icon: #5b5858;
    --color-bell: #ff8f00;
    --color-nav-badge: #165bba;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg-body);
}
.wrapper {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* header  */
header {
    width: 100%;
    height: 80px;
    background-color: var(--color-bg-body);
}
header nav {
    background-color:var(--color-text);
}
#logo-small {
    width:70px;
    display: none;
}
#logo-small img {
    width: 100%;
}
header nav #search-bar {
    background-color: var(--color-bg-search-bar);
    padding-left: 40px;
    background-image: url(../img/magn-glass.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 7px 5px;
}

header nav .my-nav-icon {
    color: var(--color-nav-icon);
    padding-left: 10px;
    padding-right: 10px;
}
#dropdown-bell a{
    color: var(--color-bell);
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}
#dropdown-bell .dropdown-item {
    color: var(--color-nav-icon);
}
/* main  */
main {
    width: 100%;
    height: calc(100% - 80px);
}

/* sidebar  */

#sidebar-top {
    height: calc(100% - 80px);
}

#sidebar-bottom {
    height: 80px;
}
#sidebar {
    width: 150px;
    height: 100%;
    background-color: var(--color-side-bar);
    background-image: url(../img/sidebar-bg.png);
    padding: 20px;
}
#sidebar .icon {
    width: 35px;
}
#sidebar a {
    color: var(--color-text);
    column-gap: 10px;
}
#sidebar a:hover {
    background-color: #344a60;
}


/* main-content  */
#main-content {
    width: calc(100% - 150px);
    overflow-y: auto;
}
#main-sections {
    background-color:var(--color-bg-body);
}
#main-content .card {
    margin: 20px 0;
    font-size: 0.9em;
}

#main-c-nav {
    background-color:var(--color-nav-bar);
}
#main-c-nav .badge {
    background-color: var(--color-nav-badge);
}


/* prossime classi  */
#next-classes table td:first-child {
    text-align: left;
}
#next-classes .class-avatar {
    width: 30px;
    display: inline-block;
}
#next-classes button {
    color: var(--color-nav-icon);
    border: 1px solid var(--color-nav-icon);
    padding: 5px 8px;
    margin-right: 5px;
}
#next-classes button:hover {
    background-color: var(--color-bg-search-bar);
}

/* faq  */
#faq .accordion-button:not(.collapsed) {
    color: var(--color-nav-bar);
}

/* statistics  */
#statistics img {
    width: 100%;
}
#statistics li a {
    text-decoration: underline;
}

/* media query  */
@media screen and (max-width:768px) {
    #navbar-right .my-nav-icon {
        display: none;
    }
    #dropdown-bell {
        margin: 0 auto;
    }
    #sidebar {
        width: 70px;
    }
    #sidebar a span {
        display:none;
    }
    #sidebar .icon {
        margin: 0 auto;
    }
    #sidebar a {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
    #main-content {
        width: calc(100% - 70px);
    }
    #logo-small {
        display: block;
    }
    #logo {
        display: none;
    }
}
